.offerHelpContainer {
    width: 60%;
    margin: auto auto 3rem auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    padding: 3rem;
    box-shadow: -15px 15px 0px 0px #00000045;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: white;
}
.offerHelpNote {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-bottom: 1rem;
}
.center-offers{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acceptOffer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
}