.loginPageContainer {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  padding: 3rem;
  box-shadow: -15px 15px 0px 0px #00000045;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: white;
}

.headerSection {
  margin-bottom: 1rem;
}

.loginInputsForm {
  display: flex;
  flex-direction: column;
}

.loginInputsSection {
  margin-bottom: 3rem;
}

.inputContainer {
  margin-bottom: 1rem;
  width: 100%;
}

.inputContainer input {
  width: 500px !important;
}
